<header>
    <nav>
        <div class="navbar">
            <a id="index"><img src="img/logo.webp" alt="Logo znaÄky LukyTechnology"></a>
            <div class="menu">
                <a class="setup">SETUP</a>
                <a href="https://www.buymeacoffee.com/lukytechnology">PODPORA</a>
            </div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</header>
<div class="mobile-menu">
    <a class="setup">SETUP</a>
    <a href="https://www.buymeacoffee.com/lukytechnology">PODPORA</a>
</div>