section {
    padding: 30px 10px 50px 10px;
}

.title {
    width: 100%;
    text-align: center;
    align-items: center;
}

.title h2 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 54px;
    font-weight: 1000;
}

.title p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    margin-top: -30px;
}

p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    margin-top: -10px;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 18px;
    font-weight: 1000;
    margin-top: 50px;
}

.setup {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main);
    padding-bottom: 80px;
}

.setup p {
    text-align: left;
    margin-top: 50px;
    box-sizing: border-box;
    width: 840px;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin-right: 70px;
}

.setup img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
}





@media only screen and (max-width: 1366px) {
    .center {
        grid-template-columns: 600px;
    }
}

@media only screen and (max-width: 896px) {
    .title h2 {
        font-size: 36px;
    }
    .setup {
        display: block;
    }
    .setup p {
        width: 100%;
        box-sizing: unset;
        margin-right: 0;
    }
    .setup img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .component {
        display: block;
        justify-content: left;
    }
    .center {
        column-gap: 10px;
        grid-template-columns: 220px;
    }
    .center img {
        margin-right: 0;
    }
}