@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Permanent+Marker&display=swap');

section {
    border-bottom: 1px solid var(--main);
    padding: 30px 10px 50px 10px;
}

h1 {
    text-align: center;
    color: var(--light);
    position: absolute;
    left: 10%;
    right: 10%;
    margin-top: 160px;
    font-size: 72px;
    font-family: 'Permanent Marker', cursive;
    animation-duration: 1.7s;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: var(--light);
    font-size: 58px;
    font-weight: 1000;
}

h3 {
    color: var(--light);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 550;
}

h4 {
    color: var(--light);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 40px;
    font-style: italic;
}

h5 {
    color: var(--light);
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 40px;
}

p {
    color: #beb5b5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.6px;
    line-height: 30px;
}

ion-icon {
    font-size: 75px;
}





.intro {
    background-image: url("/img/background.webp");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 1280px;
}

.introduction {
    padding: 73px 0;
    width: 100%;
    height: 400px;
}

.introduction p {
    position: absolute;
    color: var(--light);
    text-align: center;
    left: 10%;
    right: 10%;
    margin-top: 260px;
    font-size: 28px;
    animation-duration: 2s;
    font-family: 'Josefin Sans', sans-serif;
}






.title {
    width: 100%;
    text-align: center;
    align-items: center;
}

.title p {
    margin-top: -40px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.left img {
    justify-content: right;
    align-items: center;
    width: 250px;
    margin-left: 100px;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.left img:hover {
    transform: scale(1.10) translateY(-3px);
    transition: 0.3s;
}

.left p {
    box-sizing: border-box;
    width: 840px;
    justify-content: left;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.right img {
    justify-content: left;
    align-items: center;
    width: 250px;
    margin-right: 100px;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.right img:hover {
    transform: scale(1.10) translateY(-3px);
    transition: 0.3s;
}

.right p {
    box-sizing: border-box;
    width: 840px;
    justify-content: right;
}





.sec {
    margin-left: 50px;
}

.next {
    margin-top: 100px;
}

.mb {
    display: none;
}






.more {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

.more a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 550;
    color: #FFF;
    border-radius: 99px;
    background-color: var(--main);
    padding: 15px 20px;
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.more a:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-3px);
    transition: 0.3s;
}





.projects {
    margin-top: 70px;
}

.projects img {
    width: 440px;
    height: 280px;
    border-radius: 50px;
    transform: scale(1.0) translateY(0px);
    transition: 0.5s;
}

.projects img:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-3px);
    transition: 0.5s;
    filter: blur(1.3px) brightness(70%);
}

.text {
    box-sizing: border-box;
    width: 700px;
}

.text p {
    width: 700px;
}







.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.icons a {
    transform: scale(1.0) translateY(0px);
    transition: 0.3s;
}

.icons a:hover {
    transform: scale(1.28) translateY(-7px);
    transition: 0.3s;
    cursor: pointer;
}





.center {
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
}

.center img {
    height: 250px;
    margin-right: 100px;
    transform: scale(1.0);
    transition: 0.5s;
}

.center img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.component {
    display: flex;
    justify-content: left;
}

.component p {
    margin-top: -20px;
}





@media only screen and (max-width: 896px) {
    section {
        padding: 0 10%;
    }
    h1 {
        font-size: 40px;
    }
    ion-icon {
        font-size: 50px;
    }
    img {
        display: block;
    }
    .mb {
        display: block;
    }
    .mb-dis {
        display: none;
    }


    .introduction p {
        font-size: 16px;
        margin-top: 320px;
    }
    .introduction {
        height: 500px;
    }
    .intro {
        background-size: 1200px;
    }


    .title h2 {
        font-size: 36px;
    }
    .title p {
        font-size: 18px;
        margin-top: -20px;
    }
    .left {
        display: block;
    }
    .left p {
        width: 100%;
        box-sizing: unset;
        margin-right: 0;
        margin-top: 50px;
    }
    .left img {
        margin-left: auto;
        margin-right: auto;
        width: 180px;
    }
    .right {
        display: block;
    }
    .right p {
        width: 100%;
        box-sizing: unset;
        margin-left: 0;
        margin-top: 50px;
    }
    .right img {
        margin-left: auto;
        margin-right: auto;
        width: 180px;
    }
    .more {
        margin-bottom: 80px;
    }
    .more h4 {
        font-size: 20px;
        margin-bottom: 40px;
    }


    .sec {
        margin-left: 20px;
    }
    .icons {
        margin-bottom: 50px;
    }
}