

<header>
    <nav>
        <div class="navbar">
            <a href="index.html"><img src="img/logo.webp" alt="Logo znaÄky LukyTechnology"></a>
            <div class="menu">
                <a href="about.html">O MNE</a>
                <a href="minecraft.html">MINECRAFT</a>
                <a href="">SETUP</a>
            </div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</header>
<div class="mobile-menu">
    <a href="about.html">O MNE</a>
    <a href="minecraft.html">MINECRAFT</a>
    <a href="">SETUP</a>
</div>