<!DOCTYPE html>
<html lang="sk">
    <head>
        <!-- NASTAVENIA & LINKY-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LukyTechnology - Stránka</title>
    <link rel="icon" href="/img/favicon.webp">
    <meta name="description" content="Kto som? Čo robím? Čomu sa venujem? To všetko sa dozvieš na mojej stránke.
        Klikni na túto stránku a dozvieš sa mnoho informácií o mne. Nájdeš tam aj moje sociálne siete. Ak ma nespoznáš, aspoň ma spoznáš :)">
    <meta name="author" content="LukyTechnology">
    <meta name="keywords" content="Luky, LukyTechnology">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/index.css">
    
    </head> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYE6NRRT7E" >
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-TYE6NRRT7E');
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <body>

        <!-- HEADER -->
        <%- include('./components/header') %>


        <!-- INTRO & ZAČIATOK -->
        <section class="intro">
            <div class="introduction">
                <h1 class="animate__animated animate__zoomIn">LukyTechnology</h1>
                <p class="animate__animated animate__zoomIn">Človek ktorý miluje svet IT. <3</p>
            </div>
        </section>
        


        <!-- O MNE -->
        <section>
            
            <div class="title">
                <h2>O MNE</h2>
            </div>

            <div class="left">
                <p>
                    Volám sa Luky, pochádzam z Oravy a som študentom strednej školy v Tvrdošíne. Venujem sa odboru Informačné a Sieťové technológie.
                    Som milovník IT, techniky, technológii či internetu. Týmto veciam sa venujem už od detstva a nesmierne ma baví skúmať a 
                    skúšať niečo nové. Pomimo IT mám taktiež rád prírodu, šport či rôzne aktivity. Určite obľubujem cestovanie vo svete a spoznávanie
                    niečoho nového. Cestovaniu sa chcem určite venovať v budúcnosti.
                </p>
                <img src="img/logo2.webp" alt="Druhý prototyp loga značky LukyTechnology">
            </div>

            <div class="right next">
                <img class="mb-dis" src="img/code.webp" alt="Fialová ikonka pre programovanie">
                <p>
                    Konkrétne sa venujem viacerým katégoriám. Venujem sa hlavne programovaniu, aktuálne tvorbe webových stránok. Tvorím ako frontend
                    teda grafiku webstánky, tak aj backend teda algoritmus stránky. Programujem v JavaScripte a vzdelávam sa v Node.js či React.js.
                    Ďalej občasne pracujem s grafikou, teda tvorba rôznej jednoduchej grafiky a taktiež základnú videoúpravu, teda strihanie videí.
                    Snažím sa vzdelávať aj v oblasti sieti alebo internetu. Neustále sa snažím o nadobudanie skúsenosti a vzdelaní zo sveta internetu,
                    teda ako siete fungujú, ako sa ovladajú, nastavujú a využívajú.
                </p>
                <img class="mb" src="img/code.webp" alt="Fialová ikonka pre programovanie">
            </div>

            <div class="left next">
                <p>
                    Už dávnejšie som sa venoval YouTube tvorbe. Aktuálne vlastním kanál s vyše 400 odoberateľmi. Tvoril som tam rôzne návody, tutoriály
                    a pomocou nich som sa snažil odovzdávať moje skúsenosti. Tvorbu budem chcieť obnoviť a tvoriť kontent naďalej a odovdzávať moje
                    skúsenosti ďalším ľuďom. Rád by som postupne budoval komunitu, odovzdával skúsenosti ľuďom a ja sa tak posúval ďalej vpred. Tvoril
                    rôzne projekty, vzdelával sa a pracoval. To je to čo ma baví a napĺňa.
                </p>
                <img src="img/youtube.webp" alt="Custom ikonka pre YouTube logo">
            </div>


            <div class="icons" >
                <a style="color: #9c25a7" href="https://www.instagram.com/lukytechnology_official/" rel="noreferrer" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                <a class="sec" style="color: #5772d1" href="https://discord.gg/CFH6ed2sYN" rel="noreferrer" target="_blank"><ion-icon name="logo-discord"></ion-icon></a>
                <a class="sec" style="color: #ca3434" href="https://youtube.com/c/LukyTechnology" rel="noreferrer" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
                <a class="sec" style="color: #FFF" href="https://github.com/LukyTechnology" rel="noreferrer" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
            </div>

        </section>


        <!-- SETUP -->
        <section>
            <div class="title" >
                <h2>SETUP</h2>
                <p>Čo všetko mám a používam?</p>
            </div>

            <div class="right" >
                <img class="mb-dis" src="img/setup/skrina.webp" alt="PC skrinka Fractal Design Pop Air Green">
                <p>
                    Všeobecne techniku mam neuveriteľne rád. Určite jej mám celkom dosť :D Pokiaľ by ťa zaujímalo čo všetko mám, aké mam vybavenie,
                    čo používam za počítač či mobil, to sa dozvieš všetko nižšie. Pokiaľ by ťa niečo zaujalo, budem rád ak nakúpiš cez odkazy z mojej
                    stránky. Teba to nijako neovplyvní a mne to dá nejaký menší zisk. Takže takto ma môžeš podporiť úplne zadarmo.
                </p>
                <img class="mb" src="img/setup/skrina.webp" alt="PC skrinka Fractal Design Pop Air Green">
            </div>

            <div class="more" >
                <a class="setup">Viac o Setupe</a>
            </div>
        </section>



        <!-- PODPORA & MEMBERSHIP -->
        <section>
            <div class="title" >
                <h2>PODPORA</h2>
                <p>Pokiaľ chceš, môžeš finančne podporiť moju prácu.</p>
            </div>

            <div class="left" >
                <p>
                    Ak sa ti moja tvorba a práca páči, môžeš ma podporiť finančne rôznymi spôsobmi. Pomocou služby BuyMeACoffee môžeš zaslať čistý donate
                    v sume akej chceš. Ďalej môžeš zaslať príspevok na nejaký produkt z wishlistu, tymto spôsobom priamo podporuješ moju techniku tak aby
                    moja tvorba bola jednoduchšia a lepšia. V budúcnosti plánujem pripraviť obchod kde by som ponúkal rôzne produkty či moju tvorbu.
                </p>
                <img src="img/buymeacoffee.webp" alt="Logo služby BuymeACoffee">
            </div>

            <div class="right" >
                <img class="mb-dis" src="img/premium.webp" alt="Ikonka ktorá značí niečo premiove">
                <p>
                    Taktiež ponúkam možnosť plateného členstvá. Môžeš ma finančne podporovať každý mesiac a ty máš za to skvelé odmeny. Podľa predplatného
                    získaš prístup napríklad k: množstvu rôznych tutoriálov a návodov, k rôznym tipom a trikom ktoré ti môžu pomôcť a k rôznym zaujímavým 
                    programom či funkciám ktoré ti môžu pomôcť alebo niečo uľahčiť. Získaš tam množstvo ďalších výhod. Viac výhod najdeš na stránke.
                </p>
                <img class="mb" src="img/premium.webp" alt="Ikonka ktorá značí niečo premiove">
            </div>

            <div class="more" >
                <a style="background-color: #bda835;" href="https://www.buymeacoffee.com/lukytechnology" rel="noreferrer"  target="_blank" >BuyMeACoffee</a>
            </div>

        </section>



        <!-- PORTFOLIO -->
        <section>
            <div class="title" >
                <h2>PORTFOLIO</h2>
                <p>Čo všetko som za môj čas vybudoval alebo vytvoril?</p>
            </div>    
        </section>


        <%- include('./components/footer') %>


    </body>
    <script src="js/style.js"></script>
</html>