<!DOCTYPE html>
<html lang="sk">
    <head>
        <!-- NASTAVENIA & LINKY-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LukyTechnology - Stránka</title>
    <link rel="icon" href="/img/favicon.webp">
    <meta name="description" content="Kto som? Čo robím? Čomu sa venujem? To všetko sa dozvieš na mojej stránke.
        Klikni na túto stránku a dozvieš sa mnoho informácií o mne. Nájdeš tam aj moje sociálne siete. Ak ma nespoznáš, aspoň ma spoznáš :)">
    <meta name="author" content="LukyTechnology">
    <meta name="keywords" content="Luky, LukyTechnology">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/index.css">
    
    </head> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYE6NRRT7E" >
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-TYE6NRRT7E');
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <body>


        <%- include('./components/header') %>


        <!-- INTRO & ZAČIATOK -->
        <section class="intro">
            <div class="introduction">
                <h1 class="animate__animated animate__zoomIn">LukyTechnology</h1>
                <p class="animate__animated animate__zoomIn">Človek ktorý miluje svet IT. <3</p>
            </div>
        </section>
        


        <!-- O MNE #1 -->
        <section>
            <div class="title">
                <h2>O MNE</h2>
            </div>
            <div class="left">
                <p>Volám sa Luky a pochádzam z Oravy. Venujem sa IT sektoru, ktorý ma nesmierne baví. Najviac sa zaujímam o programovanie, video úpravu a grafiku.
                    V programovaní sa orientujem vo fullstack Web Developingu a taktiež aspoň trocha sa venujem Developingu Minecraft Pluginov v Jave. Je to moje vysnívané detstvo. Snažím sa na
                    internete budovať si svoju značku pod menom LukyTechnology. Touto značkou sa chcem reprezentovať na interete na viacerých platformách alebo aj v oblasti programovania. Snažím
                    sa postupne si budovať komunitu pod touto značkou. Snažím sa ľudom pomáhať a podávať rôzne tipy a triky či hodnotné videá ktoré im môžu pomôcť a obohatiť ich v IT.
                </p>
                <img src="img/logo2.webp" alt="Druhý prototyp loga značky LukyTechnology">
            </div>

            <div class="right">
                <img class="mb-dis" src="img/minecraft.webp" alt="Logo hry Minecraft">
                <p>Od detstva som hrával a venoval sa Minecraftu. Táto hra ma veľmi bavila až natoľko že som sa rozhodol urobiť si vlastný verejný server pod menom DiamondGames. Konkrétne som mal 3 servery pod 
                    týmto menom, každý v inom období a s veľkými vylepšeniami. Ale obmedzovali ma financie a nemal som ďalších ľudí na pomoc. Za tie roky som nazbieral neskutočné množstvo skúseností ktoré chcem
                    postupne pretaviť do programovania vlastných pluginov do tejto hry. Stále ma baví pracovať s touto hrou no snažím sa posunúť ďalej inak ale aj ostať pri tomto. Táto hra a história mi ostane
                    navždy v srdci, preto chcem sa aspoň troška tomuto sektoru venovať. Ale nie je to moja priorita. Chcem sa posúvať hlavne inde ale tu ostať zároveň.
                </p>
                <img class="mb" src="img/minecraft.webp" alt="Logo hry Minecraft">
            </div>

            <div class="more" >
                <h4>Chceš vedieť viacej informácií o mne? <br>Klikni nižšie!</h4>
                <a href="about.html">Viac informácií</a>
            </div>
        </section>


        <!-- PROGRAMOVACIE JAZYKY -->
        <section>
            <div class="title" >
                <h2>PROGRAMOVANIE</h2>
                <p>Ktoré jazyky už poznám?</p>
            </div>    
                <div class="languages" >
                    <div>
                        <img src="img/html.webp" alt="HTML logo">
                        <h3>HTML</h3>
                        <h4>Pokročilý</h4>
                    </div>

                    <div>
                        <img src="img/css.webp" alt="CSS logo">
                        <h3>CSS</h3>
                        <h4>Pokročilý</h4>
                    </div>

                    <div>
                        <img src="img/javascript.webp" alt="JavaScript logo">
                        <h3>JavaScript</h3>
                        <h4>Stredne pokročilý</h4>
                    </div>

                    <div>
                        <img src="img/node.webp" alt="Node.js logo">
                        <h3>Node.js</h3>
                        <h4>Stredne pokročilý</h4>
                    </div>

                    <div>
                        <img src="img/react.webp" alt="React.js logo">
                        <h3>React</h3>
                        <h4>Mierne pokročilý</h4>
                    </div>

                    <div>
                        <img src="img/java.webp" alt="Java logo">
                        <h3>Java/Spigot</h3>
                        <h4>Stredne Pokročilý</h4>
                    </div>
                </div>

                <div class="description" >
                    <p>Najviac skúsenosti mám práve v programovaní webov. Snažím sa tomu venovať. Baví ma frontend teda tvorenie designu stránok a hranie sa s ním, ale taktiež
                        backend kde si môžem tvoriť všetko podľa seba a prispôsobovať si stránku do detailu. Samozrejme backend je náročný ale snažím sa vzdelávať a aplikovať
                        vedomosti do praxe. Taktiež sa venujem Jave, konkrétne Spigot API na tvorenie pluginov do Minecraftu. Nevenujem sa tomu až tak moc ale chcem v tom
                        pokračovať a niečo tvoriť. Javu sa mi určite zíde ovládať. Dobudúcna sa chcem vzdelávať vo všetkých smeroch ako frontend, backend, Java ale taktiež
                        sa naučiť niečo nové ako populárny jazyk Python.
                    </p>
                </div>
        </section>


        <!-- MINECRAFT -->
        <section>
            <div class="title" >
                <h2>MINECRAFT</h2>
                <p>Aká bola moja história s Minecraftom?</p>
            </div>

            <div class="right" >
                <img class="mb-dis" src="img/dglogo.webp" alt="Logo Minecraft servera DiamondGames">
                <p>
                    Mal som 3 servery, no ani jeden sa nejako moc nepresadil. Ale som za to vďačný lebo som nazbieral množstvo skúsenosti. Konkrétne som ako Technik pre Minecraft server bol 3-4 roky.
                    Bavilo ma to a aj baví ale je čas posunúť sa o dosť vyššie. Dlho som túžil robiť si vlastné Minecraft pluginy, ktoré môžem použiť na svoje účely alebo ich predávať do
                    sveta. A pomaly sa mi to darí splniť. Už mám za sebou niekoľko pluginov. Síce nie sú moc extra prepracované ale ľudia ich používajú. Rád by som tvoril ešte ďalšie pluginy a
                    taktiež skúsil vytvoriť vlastnú minihru. Uvidí sa či sa bude dariť :)
                </p>
                <img class="mb" src="img/dglogo.webp" alt="Logo Minecraft servera DiamondGames">
            </div>

            <div class="more" >
                <h4>Chceš vedieť viacej o minulosti a plánoch? <br>Klikni nižšie!</h4>
                <a href="minecraft.html">Viac o Minecrafte</a>
            </div>
        </section>


        <!-- PRÁCA -->
        <section>
            <div class="title" >
                <h2>PRÁCA</h2>
                <p>Na čom pracujem?</p>
            </div>

            <div class="left" >
                <p>
                    V tomto čase pracujem na budovaní mojej značky. Snažím sa tvoriť obsah hodnotný pre ľudí a budovať si značku na sociálnych sieťach. Tvorím ako YouTube
                    videá, tak Instagram príspevky a taktiež sa snažím budovať komunitu na Discorde. A v tomto chcem naďalej pokračovať. Ponúkať ľuďom to čo potrebujú a to
                    čo im vie niečo hodnotné odovzdať z mojích skúseností. Baví ma to a verím že raz sa mi podarí s touto značkou niečo vybudovať. Uvidí sa ako to ďalej pôjde.
                    Predsa je to aj na vás :)
                </p>
                <img src="img/TCrew.webp" alt="Logo discord servera TCrew">
            </div>

            <div class="right" >
                <img class="mb-dis" src="img/biznis.webp" alt="Ikona pre biznis">
                <p>
                    Zároveň sa snažím vzdelávať hlavne v oblasti programovania & grafiky pomocou ktorej chcem raz skúsiť budovať biznis. Láka ma smer podnikania a podnikaním či
                    marketingom sa zaoberám. Vzdelávam sa a naberám nové skúsenosti ktoré pomaly pretavujem do tvorenia vlastného biznisu. Či sa raz niečo vydarí nevie nikto ale
                    človek si musí veriť a skúšať. Bez skúšania sa človek nikám nedostane. A toto je moja cesta. Snažím sa tvoriť obsah a zároveň sa vzdelávať či niečo budovať.
                </p>
                <img style="margin-bottom: 80px" class="mb" src="img/biznis.webp" alt="Ikona pre biznis">
            </div>

        </section>



        <!-- SOCIALNE SIETE -->
        <section>
                <div class="title" >
                    <h2>SOCIÁLNE SIETE</h2>
                    <p>Moje sociálky na ktorých ma môžeš najsť.</p>
                </div>

                <div class="left" >
                    <p>Ak ťa zaujala moja značka a chceš ju začať sledovať, môžeš na rôznych sociálnych sieťach. Na každej sieti je troška iný kontent a informácie. Na Instagram
                        pridávam rôzne tipy a triky a zaujímavosti zo sveta IT a z môjho života. Na Discorde komunikujem, snažím sa pomáhať a budovať si komunitu. Na YouTube dávam
                        videá v ktorých vám chcem priniesť niečo užitočné včetne tipov a trikov. Taktiež máte nižšie link na môj GitHub kde môžu postupom času pribúdať rôzne projekty
                        čo sa týka programovania. Čo ťa zaujíma to sleduj. Za každého som vďačný.
                    </p>
                    <img src="img/socialky.webp" alt="Grafika troch sociálnych sieti">
                </div>

                <div class="icons" >
                    <a style="color: #be33cb" href="https://www.instagram.com/lukytechnology_official/" rel="noreferrer" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a class="next" style="color: #7289da" href="https://discord.gg/CFH6ed2sYN" rel="noreferrer" target="_blank"><ion-icon name="logo-discord"></ion-icon></a>
                    <a class="next" style="color: #e33c3c" href="https://youtube.com/c/LukyTechnology" rel="noreferrer" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
                    <a class="next" style="color: #FFF" href="https://github.com/LukyTechnology" rel="noreferrer" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
                </div>
        </section>



        <!-- DONATE -->
        <section>
            <div class="title" >
                <h2>PODPORA</h2>
                <p>Ak chceš môžeš ma podporiť!</p>
            </div>

            <div class="left" >
                <p>Ak sa ti páči moja značka a chcel by si ma nejakým spôsobom podporiť tak môžeš! Prvý spôsob je sledovaním ma na sociálnych sieťach a takejto podpore. Každý
                    človek ktorý ma takto podporuje a dáva to najavo je pre mňa veľmi cenný pretože pomáha mi makať viac a viac. Druhý typ podpory je finančne cez službu BuyMeACoffee.
                    Finančná podpora je pre mňa tá najväčšia pretože každý peniaz mi dokáže moc pomôcť zlepšiť techniku a moju prácu. Taktiež tam môžte nájsť na čo práve šetrím a
                    prečo práve na to. Plánuje sa vytvoriť aj membership ktorý vám za peniaze bude prinášať nejakú hodnotu :) Každému za finančnú podporu moc ďakujem!
                </p>
                <img src="img/buymeacoffee.webp" alt="Logo služby BuymeACoffee">
            </div>

            <div class="more" >
                <a style="background-color: #e2cc4d;" href="https://www.buymeacoffee.com/lukytechnology" rel="noreferrer"  target="_blank" >Finančná podpora</a>
            </div>

        </section>


        <%- include('./components/footer') %>


    </body>
    <script src="js/style.js"></script>
</html>