<!DOCTYPE html>
<html lang="sk" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Setup - LukyTechnology</title>
        <link rel="icon" href="./img/favicon.webp">

        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="css/elements.css">
        <link rel="stylesheet" href="css/setup.css">

    </head>

    <body>
        
        <header>
            <nav>
                <div class="navbar">
                   <a href="index.html"><img src="img/logo.webp" alt="Logo zna캜ky LukyTechnology"></a>
                    <div class="menu">
                        <a href="about.html">O MNE</a>
                        <a href="minecraft.html">MINECRAFT</a>
                        <a href="">SETUP</a>                   
                    </div>
                    <button class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </nav>
        </header>
        <div class="mobile-menu">
            <a href="about.html">O MNE</a>
            <a href="minecraft.html">MINECRAFT</a>
            <a href="">SETUP</a>
        </div>




        <section style="margin-top: 100px" >
            <div class="title" style="margin-bottom: 50px" >
                <h2>SETUP</h2>
                <p>캛o v코etko m치m a pou쮂셨am?</p>
            </div>

            <div class="setup" >
                <p>캛o m치m za po캜칤ta캜? 캛o za techniku a pr칤slu코enstvo pou쮂셨am? To v코etko n치jde코 tu na tejto str치nke. N치jde코 tu m칪j vlastn칳 po캜칤ta캜, konkr칠tne
                v코etky komponenty ktor칠 m치m v 켿om. M칪j prv칳 po캜칤ta캜 sa mi podarilo k칰pi콘 a zlo쬴콘 presne 22. Augusta 2023. Bol to m칪j splnen칳 sen. Je to skvel칳
                z치쬴tok a v칳borna prax. Samozrejme okrem po캜칤ta캜a tu najdete aj v코etko pr칤slu코enstvo ktor칠 nonstop vyu쮂셨am s PC. N치jdete tu aj nejak칰 zvy코n칰
                techniku ktor칰 pou쮂셨am pomimo. Ak sa nejak치 technika zmen칤, v쬯y tu zmenu nahod칤m a aktualizujem. </p>
                <img src="img/setup/computer.webp" alt="">
            </div>

        </section>


        <section>
            <div class="title" >
                <h2>CUSTOM PC</h2>
                <p>M칪j vlastn칳 po캜칤ta캜 s n치sledovn칳mi komponentami:</p>
            </div>

            <div class="center" >
                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/amd-ryzen-7-7700-d7612606.htm" target="_blank" ><img src="/img/setup/cpu.webp" alt="Procesor AMD Ryzen 7 7700"></a>
                    <div>
                        <h3>AMD Ryzen 7 7700</h3>
                        <p style="margin-top: 25px" >Jadr치: 8</p>
                        <p>Vl치kna: 16</p>
                        <p>Frekvencia: 3,8 - 5,3 GHz</p>
                        <p>Socket: AM5</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/deepcool-ak620-zero-dark-d7687790.htm" target="_blank" ><img src="/img/setup/cooler.webp" alt="Chladi캜 DeepCool AK620 Zero Dark"></a>
                    <div>
                        <h3>DeepCool AK620</h3>
                        <p style="margin-top: 25px" >Sockety: AM4, AM5</p>
                        <p>Max. R칳chlos콘: 1850 RPM</p>
                        <p>Max. Hlu캜nos콘: 28 dB</p>
                        <p>V칳코ka: 160 mm</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/msi-mag-b650-tomahawk-wifi-d7505165.htm" target="_blank" ><img src="/img/setup/motherboard.webp" alt="Z치kladov치 doska MSI MAG B650 Tomahawk Wifi"></a>
                    <div>
                        <h3>MSI MAG B650 Tomahawk</h3>
                        <p style="margin-top: 25px" >Socket: AM5</p>
                        <p>캛ipset: B650</p>
                        <p>Form치t: ATX</p>
                        <p>Pam칛te: DDR5</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/kingston-fury-32gb-kit-ddr5-6000mhz-cl36-beast-black-rgb-expo-d7417203.htm" target="_blank" ><img src="/img/setup/ram.webp" alt="RAM pam칛te Kingston Fury"></a>
                    <div>
                        <h3>Kingston Fury EXPO</h3>
                        <p style="margin-top: 25px" >Ve쬶os콘: 32GB</p>
                        <p>Typ: DDR5</p>
                        <p>Frekvencia: 6000 MHz</p>
                        <p>캛asovanie: CL36</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/wd-black-sn770-nvme-500-gb-d6994484.htm" target="_blank" ><img src="/img/setup/disk.webp" alt="Disk WD Black SN770"></a>
                    <div>
                        <h3>WD Black SN770</h3>
                        <p style="margin-top: 25px" >Kapacita: 500GB</p>
                        <p>Form치t: M.2</p>
                        <p>콯ivotnos콘: 300 TBW</p>
                        <p>Z치pis: 4 000 MB/s</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/kingston-kc3000-nvme-2tb-d6817198.htm" target="_blank" ><img src="/img/setup/disk2.webp" alt="Disk Kingston KC3000"></a>
                    <div>
                        <h3>Kingston KC3000</h3>
                        <p style="margin-top: 25px" >Kapacita: 2TB</p>
                        <p>Form치t: M.2</p>
                        <p>콯ivotnos콘: 1600 TBW</p>
                        <p>Z치pis: 7 000 MB/s</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/msi-geforce-rtx-4060-ti-gaming-x-8-g-d7766893.htm" target="_blank" ><img src="/img/setup/gpu.webp" alt="Grafick치 karta MSI Geforce RTX 4060 Ti GAMING"></a>
                    <div>
                        <h3>MSI GeForce RTX 4060 Ti</h3>
                        <p style="margin-top: 25px" >Verzia: GAMING</p>
                        <p>Pam칛콘: 8GB</p>
                        <p>Typ pam칛te: GDDR6</p>
                        <p>먞rka zbernice: 128-Bit</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/evga-supernova-750-g6-d6727028.htm" target="_blank" ><img src="/img/setup/power.webp" alt="Zdroj EVGA SuperNOVA 750 G6"></a>
                    <div>
                        <h3>EVGA SuperNOVA 750 G6</h3>
                        <p style="margin-top: 25px" >V칳kon: 750 W</p>
                        <p>Modul치rny: 츼no</p>
                        <p>Certifik치cia: 80 PLUS Gold</p>
                        <p>칔캜innos콘: 92 %</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/fractal-design-pop-air-rgb-green-core-tg-clear-tint-d7270644.htm" target="_blank" ><img src="/img/setup/skrina.webp" alt="PC skrinka Fractal Design Pop Air RGB Green"></a>
                    <div>
                      <h3>Fractal Design Pop Air</h3>
                      <p style="margin-top: 25px" >Farba: Zelen치</p>
                     <p>ARGB: 츼no</p>
                     <p>Max. d컄쬶a grafiky: 405 mm</p>
                     <p>Ve쬶os콘: Midi Tower</p>
                  </div>
                </div>
            </div>

        </section>


        <section>

            <div class="title" >
                <h2>PR칈SLUENSTVO</h2>
                <p>Pr칤slu코enstvo ktor칠 pou쮂셨am k PC:</p>
            </div>

            <div class="center" >

                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/24-asus-vg249q-gaming-d5775609.htm" target="_blank" ><img src="/img/setup/monitor.webp" alt="Monitor ASUS VG249 Gaming 24"></a>
                    <div>
                        <h3>ASUS VG249Q Gaming 24"</h3>
                        <p style="margin-top: 25px" >Typ panela: IPS</p>
                        <p>Rozl칤코enie: FullHD</p>
                        <p>Obnovovacia frekvencia: 144 hz</p>
                        <p>Odozva: 1 ms</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/mozos-mkit-700prov2-d6153807.htm" target="_blank" ><img src="/img/setup/mic.webp" alt="Mikof칩n MOZOS MKIT-700PROV2"></a>
                    <div>
                        <h3>Mozos MKIT-700 PRO V2</h3>
                        <p style="margin-top: 25px" >Pripojenie: USB-A</p>
                        <p>Pop filter: 츼no</p>
                        <p>Frekvencia od: 100 Hz</p>
                        <p>Frekvencia do: 18 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/connect-it-battle-air-pro-gaming-mouse-cierna-d5880259.htm" target="_blank" ><img src="/img/setup/mouse.webp" alt="Po캜ita캜ov치 my코 Connect IT Battle Air Pro"></a>
                    <div>
                        <h3>Connect IT Battle AIR Pro</h3>
                        <p style="margin-top: 25px" >Bezdr칪tov치: Nie</p>
                        <p>Technol칩gia: Optick치</p>
                        <p>DPI: 7200</p>
                        <p>Hmotnos콘: 70 g</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/marvo-gaming-combo-km409en-d6996423.htm" target="_blank" ><img src="/img/setup/keyboard.webp" alt="Kl치vesnica MARVO Gaming"></a>
                    <div>
                        <h3>MARVO Gaming</h3>
                        <p style="margin-top: 25px" >Anti-Ghosting: 19 kl치ves</p>
                        <p>Technol칩gia: Membr치nov치</p>
                        <p>Numerick치 kl치vesnica: 츼no</p>
                        <p>RGB: Z치kladn칠</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/jbl-flip-5-cierny-d5653624.htm" target="_blank" ><img src="/img/setup/speaker.webp" alt="Reproduktor JBL Flip 5"></a>
                    <div>
                        <h3>JBL Flip 5</h3>
                        <p style="margin-top: 25px" >Bat칠ria: 12+ hod칤n</p>
                        <p>V칳kon: 20 W</p>
                        <p>Frekvencia od: 65 Hz</p>
                        <p>Frekvencia do: 20 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/creative-sound-blasterx-h3-d3860545.htm" target="_blank" ><img src="/img/setup/headphones.webp" alt="Sluchadl치 Creative Sound BlasterX H3"></a>
                    <div>
                        <h3>Creative Sound BlasterX H3</h3>
                        <p style="margin-top: 25px" >Pripojenie: 3,5mm Jack</p>
                        <p>Mikrof칩n: 츼no</p>
                        <p>Frekvencia od: 20 Hz</p>
                        <p>Frekvencia do: 20 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/adata-hv620s-hdd-25-2-tb-cierny-d5471809.htm" target="_blank" ><img src="/img/setup/extern.webp" alt="Extern칳 HDD disk ADATA HV620S"></a>
                    <div>
                        <h3>ADATA HV620S HDD</h3>
                        <p style="margin-top: 25px" >Kapacita: 2TB</p>
                        <p>Form치t: 2.5"</p>
                        <p>Typ 칰lo쬴ska: HDD</p>
                        <p>Rozhranie: USB 3.2 Gen 1</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/akasa-vegas-x9-d5150803.htm" target="_blank" ><img src="/img/setup/podlozka.webp" alt="Podlo쬶a pod my코 Akasa Vegas X9"></a>
                    <div>
                        <h3>Akasa Vegas X9</h3>
                        <p style="margin-top: 25px" >Podsvietenie: 츼no</p>
                        <p>Proti코mykov치: 츼no</p>
                        <p>Rozmery: 350x250x5.8 mm</p>
                        <p>Pripojenie: USB-A</p>
                    </div>
                </div>

            </div>

        </section>

            <div class="title" >
                <h2>ZVYOK</h2>
                <p>Zvy코n칰 techniku ktor칰 m치m a vyu쮂셨am:</p>
            </div>

            <div class="center" >

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/iphone-12-64gb-zeleny-d6216439.htm" target="_blank" ><img src="/img/setup/iphone.webp" alt="iPhone 12 Zelen칳"></a>
                    <div>
                        <h3>iPhone 12</h3>
                        <p style="margin-top: 25px" >Kapacita: 64GB</p>
                        <p>Farba: Zelen치</p>
                        <p>캛ip: A14 Bionic</p>
                        <p>Kapacita bat칠rie: 2 815 mAh</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/alzapower-wf220-wireless-fast-charger-cierna-d6103154.htm" target="_blank" ><img src="/img/setup/charger.webp" alt="Bezdr칪tov치 nab칤ja캜ka AlzaPower WF220"></a>
                    <div>
                        <h3>AlzaPower WF220 Wireless Fast Charger</h3>
                        <p style="margin-top: 25px" >Farba: 캛ierna</p>
                        <p>Vstup: USB-C</p>
                        <p>V칳kon: 5W/7.5W/10W</p>
                        <p>Ochrana: 츼no</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/huawei-freebuds-4i-carbon-black-d6386583.htm" target="_blank" ><img src="/img/setup/huawei.webp" alt="Sluchadl치 Huawei FreeBuds 4i"></a>
                    <div>
                        <h3>Huawei FreeBuds 4i</h3>
                        <p style="margin-top: 25px" >Bluetooth: 5.2</p>
                        <p>Kodeky: AAC, SBC</p>
                        <p>Max. V칳dr: 22 h</p>
                        <p>Bezdr칪tov칠 nab칤janie: Nie</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/alzapower-metal-fast-charge-pd3-0?dq=5683594" target="_blank" ><img src="/img/setup/powerbank.webp" alt="Powerbanka AlzaPower Metal Powerbank 10 000 mAh"></a>
                    <div>
                        <h3>AlzaPower Metal Powerbank</h3>
                        <p style="margin-top: 25px" >Kapacita: 10 000 mAh</p>
                        <p>Max. V칳kon: 18 W</p>
                        <p>V칳stupy: USB-A, USB-C</p>
                        <p>Vstupy: Micro USB, USB-C</p>
                    </div>
                </div>

            </div>


        <!-- SPODOK WEBU -->
        <footer style="padding-top: 25px">
            <p id="date" ></p>
            <a href=""><h4>Web developed by Luky 游눛</h4></a>
        </footer>


    </body>
    <script src="js/style.js"></script>
</html>