<!DOCTYPE html>
<html lang="sk" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Setup - LukyTechnology</title>
        <link rel="icon" href="./img/favicon.webp">

        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="./css/elements.css">
        <link rel="stylesheet" href="./css/style.css">

    </head>

    <body>


        <%- include("./components/header") %>

        
        <section style="margin-top: 100px" >
            <div class="title" style="margin-bottom: 50px" >
                <h2>SETUP</h2>
                <p>Čo všetko mám a používam?</p>
            </div>

            <div class="left" >
                <p>Čo mám za počítač? Čo za techniku a príslušenstvo používam? To všetko nájdeš tu na tejto stránke. Nájdeš tu môj vlastný počítač, konkrétne
                všetky komponenty ktoré mám v ňom. Môj prvý počítač sa mi podarilo kúpiť a zložiť presne 22. Augusta 2023. Bol to môj splnený sen. Je to skvelý
                zážitok a výborna prax. Samozrejme okrem počítača tu najdete aj všetko príslušenstvo ktoré nonstop využívam s PC. Nájdete tu aj nejakú zvyšnú
                techniku ktorú používam pomimo. Ak sa nejaká technika zmení, vždy tu zmenu nahodím a aktualizujem. </p>
                <img src="img/setup/computer.webp" alt="">
            </div>

        </section>


        <section>
            <div class="title" >
                <h2>CUSTOM PC</h2>
                <p>Môj vlastný počítač s následovnými komponentami:</p>
            </div>

            <div class="center" >
                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/amd-ryzen-7-7700-d7612606.htm" target="_blank" ><img src="/img/setup/cpu.webp" alt="Procesor AMD Ryzen 7 7700"></a>
                    <div>
                        <h5>AMD Ryzen 7 7700</h5>
                        <p>Jadrá: 8</p>
                        <p>Vlákna: 16</p>
                        <p>Frekvencia: 3,8 - 5,3 GHz</p>
                        <p>Socket: AM5</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/deepcool-ak620-zero-dark-d7687790.htm" target="_blank" ><img src="/img/setup/cooler.webp" alt="Chladič DeepCool AK620 Zero Dark"></a>
                    <div>
                        <h5>DeepCool AK620</h5>
                        <p>Sockety: AM4, AM5</p>
                        <p>Max. Rýchlosť: 1850 RPM</p>
                        <p>Max. Hlučnosť: 28 dB</p>
                        <p>Výška: 160 mm</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/msi-mag-b650-tomahawk-wifi-d7505165.htm" target="_blank" ><img src="/img/setup/motherboard.webp" alt="Základová doska MSI MAG B650 Tomahawk Wifi"></a>
                    <div>
                        <h5>MSI MAG B650 Tomahawk</h5>
                        <p>Socket: AM5</p>
                        <p>Čipset: B650</p>
                        <p>Formát: ATX</p>
                        <p>Pamäte: DDR5</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/kingston-fury-32gb-kit-ddr5-6000mhz-cl36-beast-black-rgb-expo-d7417203.htm" target="_blank" ><img src="/img/setup/ram.webp" alt="RAM pamäte Kingston Fury"></a>
                    <div>
                        <h5>Kingston Fury EXPO</h5>
                        <p>Veľkosť: 32GB</p>
                        <p>Typ: DDR5</p>
                        <p>Frekvencia: 6000 MHz</p>
                        <p>Časovanie: CL36</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/wd-black-sn770-nvme-500-gb-d6994484.htm" target="_blank" ><img src="/img/setup/disk.webp" alt="Disk WD Black SN770"></a>
                    <div>
                        <h5>WD Black SN770</h5>
                        <p>Kapacita: 500GB</p>
                        <p>Formát: M.2</p>
                        <p>Životnosť: 300 TBW</p>
                        <p>Zápis: 4 000 MB/s</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/kingston-kc3000-nvme-2tb-d6817198.htm" target="_blank" ><img src="/img/setup/disk2.webp" alt="Disk Kingston KC3000"></a>
                    <div>
                        <h5>Kingston KC3000</h5>
                        <p>Kapacita: 2TB</p>
                        <p>Formát: M.2</p>
                        <p>Životnosť: 1600 TBW</p>
                        <p>Zápis: 7 000 MB/s</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/msi-geforce-rtx-4060-ti-gaming-x-8-g-d7766893.htm" target="_blank" ><img src="/img/setup/gpu.webp" alt="Grafická karta MSI Geforce RTX 4060 Ti GAMING"></a>
                    <div>
                        <h5>MSI GeForce RTX 4060 Ti</h5>
                        <p>Verzia: GAMING</p>
                        <p>Pamäť: 8GB</p>
                        <p>Typ pamäte: GDDR6</p>
                        <p>Šírka zbernice: 128-Bit</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/evga-supernova-750-g6-d6727028.htm" target="_blank" ><img src="/img/setup/power.webp" alt="Zdroj EVGA SuperNOVA 750 G6"></a>
                    <div>
                        <h5>EVGA SuperNOVA 750 G6</h5>
                        <p>Výkon: 750 W</p>
                        <p>Modulárny: Áno</p>
                        <p>Certifikácia: 80 PLUS Gold</p>
                        <p>Účinnosť: 92 %</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/fractal-design-pop-air-rgb-green-core-tg-clear-tint-d7270644.htm" target="_blank" ><img src="/img/setup/skrina.webp" alt="PC skrinka Fractal Design Pop Air RGB Green"></a>
                    <div>
                      <h5>Fractal Design Pop Air</h5>
                      <p>Farba: Zelená</p>
                      <p>ARGB: Áno</p>
                      <p>Max. dĺžka grafiky: 405 mm</p>
                      <p>Veľkosť: Midi Tower</p>
                  </div>
                </div>
            </div>

        </section>


        <section>

            <div class="title" >
                <h2>PRÍSLUŠENSTVO</h2>
                <p>Príslušenstvo ktoré používam k PC:</p>
            </div>

            <div class="center" >

                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/24-asus-vg249q-gaming-d5775609.htm" target="_blank" ><img src="/img/setup/monitor.webp" alt="Monitor ASUS VG249 Gaming 24"></a>
                    <div>
                        <h3>ASUS VG249Q Gaming 24"</h3>
                        <p style="margin-top: 25px" >Typ panela: IPS</p>
                        <p>Rozlíšenie: FullHD</p>
                        <p>Obnovovacia frekvencia: 144 hz</p>
                        <p>Odozva: 1 ms</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 60px" >
                    <a href="https://www.alza.sk/mozos-mkit-700prov2-d6153807.htm" target="_blank" ><img src="/img/setup/mic.webp" alt="Mikofón MOZOS MKIT-700PROV2"></a>
                    <div>
                        <h3>Mozos MKIT-700 PRO V2</h3>
                        <p style="margin-top: 25px" >Pripojenie: USB-A</p>
                        <p>Pop filter: Áno</p>
                        <p>Frekvencia od: 100 Hz</p>
                        <p>Frekvencia do: 18 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/connect-it-battle-air-pro-gaming-mouse-cierna-d5880259.htm" target="_blank" ><img src="/img/setup/mouse.webp" alt="Počitačová myš Connect IT Battle Air Pro"></a>
                    <div>
                        <h3>Connect IT Battle AIR Pro</h3>
                        <p style="margin-top: 25px" >Bezdrôtová: Nie</p>
                        <p>Technológia: Optická</p>
                        <p>DPI: 7200</p>
                        <p>Hmotnosť: 70 g</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/marvo-gaming-combo-km409en-d6996423.htm" target="_blank" ><img src="/img/setup/keyboard.webp" alt="Klávesnica MARVO Gaming"></a>
                    <div>
                        <h3>MARVO Gaming</h3>
                        <p style="margin-top: 25px" >Anti-Ghosting: 19 kláves</p>
                        <p>Technológia: Membránová</p>
                        <p>Numerická klávesnica: Áno</p>
                        <p>RGB: Základné</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/jbl-flip-5-cierny-d5653624.htm" target="_blank" ><img src="/img/setup/speaker.webp" alt="Reproduktor JBL Flip 5"></a>
                    <div>
                        <h3>JBL Flip 5</h3>
                        <p style="margin-top: 25px" >Batéria: 12+ hodín</p>
                        <p>Výkon: 20 W</p>
                        <p>Frekvencia od: 65 Hz</p>
                        <p>Frekvencia do: 20 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/creative-sound-blasterx-h3-d3860545.htm" target="_blank" ><img src="/img/setup/headphones.webp" alt="Sluchadlá Creative Sound BlasterX H3"></a>
                    <div>
                        <h3>Creative Sound BlasterX H3</h3>
                        <p style="margin-top: 25px" >Pripojenie: 3,5mm Jack</p>
                        <p>Mikrofón: Áno</p>
                        <p>Frekvencia od: 20 Hz</p>
                        <p>Frekvencia do: 20 000 Hz</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/adata-hv620s-hdd-25-2-tb-cierny-d5471809.htm" target="_blank" ><img src="/img/setup/extern.webp" alt="Externý HDD disk ADATA HV620S"></a>
                    <div>
                        <h3>ADATA HV620S HDD</h3>
                        <p style="margin-top: 25px" >Kapacita: 2TB</p>
                        <p>Formát: 2.5"</p>
                        <p>Typ úložiska: HDD</p>
                        <p>Rozhranie: USB 3.2 Gen 1</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/akasa-vegas-x9-d5150803.htm" target="_blank" ><img src="/img/setup/podlozka.webp" alt="Podložka pod myš Akasa Vegas X9"></a>
                    <div>
                        <h3>Akasa Vegas X9</h3>
                        <p style="margin-top: 25px" >Podsvietenie: Áno</p>
                        <p>Protišmyková: Áno</p>
                        <p>Rozmery: 350x250x5.8 mm</p>
                        <p>Pripojenie: USB-A</p>
                    </div>
                </div>

            </div>

        </section>

           
        <section>
            <div class="title" >
                <h2>ZVYŠOK</h2>
                <p>Zvyšnú techniku ktorú mám a využívam:</p>
            </div>

            <div class="center" >

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/iphone-12-64gb-zeleny-d6216439.htm" target="_blank" ><img src="/img/setup/iphone.webp" alt="iPhone 12 Zelený"></a>
                    <div>
                        <h3>iPhone 12</h3>
                        <p style="margin-top: 25px" >Kapacita: 64GB</p>
                        <p>Farba: Zelená</p>
                        <p>Čip: A14 Bionic</p>
                        <p>Kapacita batérie: 2 815 mAh</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/alzapower-wf220-wireless-fast-charger-cierna-d6103154.htm" target="_blank" ><img src="/img/setup/charger.webp" alt="Bezdrôtová nabíjačka AlzaPower WF220"></a>
                    <div>
                        <h3>AlzaPower WF220 Wireless Fast Charger</h3>
                        <p style="margin-top: 25px" >Farba: Čierna</p>
                        <p>Vstup: USB-C</p>
                        <p>Výkon: 5W/7.5W/10W</p>
                        <p>Ochrana: Áno</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/huawei-freebuds-4i-carbon-black-d6386583.htm" target="_blank" ><img src="/img/setup/huawei.webp" alt="Sluchadlá Huawei FreeBuds 4i"></a>
                    <div>
                        <h3>Huawei FreeBuds 4i</h3>
                        <p style="margin-top: 25px" >Bluetooth: 5.2</p>
                        <p>Kodeky: AAC, SBC</p>
                        <p>Max. Výdrž: 22 h</p>
                        <p>Bezdrôtové nabíjanie: Nie</p>
                    </div>
                </div>

                <div class="component" style="margin-top: 40px" >
                    <a href="https://www.alza.sk/alzapower-metal-fast-charge-pd3-0?dq=5683594" target="_blank" ><img src="/img/setup/powerbank.webp" alt="Powerbanka AlzaPower Metal Powerbank 10 000 mAh"></a>
                    <div>
                        <h3>AlzaPower Metal Powerbank</h3>
                        <p style="margin-top: 25px" >Kapacita: 10 000 mAh</p>
                        <p>Max. Výkon: 18 W</p>
                        <p>Výstupy: USB-A, USB-C</p>
                        <p>Vstupy: Micro USB, USB-C</p>
                    </div>
                </div>

            </div>
        </section>


        <%- include("./components/footer") %>


    </body>
    <script src="js/style.js"></script>
</html>